@use 'abstracts/theme-variables' as theme;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--unit-2);
}

.horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: theme.theme-color('foreground');
  margin-bottom: var(--unit-1);
}

.error {
  font-size: 0.875rem;
  color: theme.theme-color('danger');
  margin-top: var(--unit-1);
}
