@use 'abstracts/theme-variables' as theme;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--unit-1);
}

.track {
  position: relative;
  height: var(--unit-2);
  background-color: theme.theme-color('divider');
  border-radius: 9999px;
  cursor: pointer;
}

.fill {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: theme.theme-color('primary');
  border-radius: 9999px;
  pointer-events: none;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  appearance: none;
  background: none;

  &:focus-visible {
    outline: none;
  }
}

.thumb {
  position: absolute;
  top: 50%;
  width: var(--unit-4);
  height: var(--unit-4);
  background-color: theme.theme-color('primary');
  border: 2px solid theme.theme-color('content1');
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.wrapper:focus-within .thumb {
  box-shadow: 0 0 0 3px theme.theme-color('focus');
}

.label {
  font-size: 0.875rem;
  color: theme.theme-color('foreground');
}

.valueLabel {
  font-size: 0.875rem;
  color: theme.theme-color('default-400');
}
