@use 'abstracts/theme-variables' as theme;

.wrapper {
  display: inline-flex;
  align-items: stretch;
}

.horizontal {
  flex-direction: row;

  & > *:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & > *:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  & > *:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.vertical {
  flex-direction: column;

  & > * + * {
    margin-top: 0;
  }

  & > *:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & > *:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  & > *:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.attached.horizontal > * + * {
  margin-left: -2px;
}
.attached.vertical > * + * {
  margin-top: -2px;
}

.attached.gap > * + * {
  margin-left: 0;
  margin-top: 0;
}
