@use 'abstracts/theme-variables' as theme;

.wrapper {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
}

.head {
  background-color: theme.theme-color('content2');
  color: theme.theme-color('default-500');
}

.th {
  padding: var(--unit-2) var(--unit-4);
  text-align: left;
  font-weight: 600;
  border-bottom: 2px solid theme.theme-color('divider');
}

.td {
  padding: var(--unit-2) var(--unit-4);
  border-bottom: 1px solid theme.theme-color('divider');
  color: theme.theme-color('foreground');
}

.striped .tbody tr:nth-child(even) {
  background-color: theme.theme-color('content2');
}

.bordered .th,
.bordered .td {
  border: 1px solid theme.theme-color('divider');
}
