@use 'abstracts/theme-variables' as theme;

.root {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
}

.head {
  background-color: theme.theme-color('surface-secondary');
  color: theme.theme-color('text-secondary');
}

.th {
  padding: var(--unit-2) var(--unit-4);
  text-align: left;
  font-weight: 600;
  border-bottom: 2px solid theme.theme-color('border-default');
}

.td {
  padding: var(--unit-2) var(--unit-4);
  border-bottom: 1px solid theme.theme-color('border-default');
  color: theme.theme-color('text-primary');
}

.striped .tbody tr:nth-child(even) {
  background-color: theme.theme-color('surface-secondary');
}

.bordered .th,
.bordered .td {
  border: 1px solid theme.theme-color('border-default');
}
