@use 'abstracts/theme-variables' as theme;

.root {
  border: none;
  background-color: theme.theme-color('border-default');
}

.horizontal {
  width: 100%;
  height: 1px;
  margin: var(--unit-2) 0;
}

.vertical {
  width: 1px;
  height: 100%;
  min-height: var(--unit-8);
  margin: 0 var(--unit-2);
  align-self: stretch;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: var(--unit-4);
  margin: var(--unit-2) 0;
}

.wrapper .line {
  flex: 1;
  height: 1px;
  background-color: theme.theme-color('border-default');
  border: none;
}

.label {
  font-size: 0.875rem;
  color: theme.theme-color('text-muted');
  white-space: nowrap;
}
