// _typography.scss - Font size utilities
// tiny .75rem, small .875rem, medium 1rem, large 1.125rem

.text-tiny {
  font-size: 0.75rem;
}

.text-small {
  font-size: 0.875rem;
}

.text-medium {
  font-size: 1rem;
}

.text-large {
  font-size: 1.125rem;
}
