@use 'abstracts/theme-variables' as theme;

.inline {
  padding: var(--unit-1) var(--unit-2);
  font-size: 0.875em;
  font-family: ui-monospace, monospace;
  background-color: theme.theme-color('surface-secondary');
  border: 1px solid theme.theme-color('border-default');
  border-radius: var(--unit-1);
  color: theme.theme-color('text-primary');
}

.block {
  display: block;
  padding: var(--unit-4);
  font-size: 0.875rem;
  font-family: ui-monospace, monospace;
  background-color: theme.theme-color('surface-secondary');
  border: 1px solid theme.theme-color('border-default');
  border-radius: var(--unit-2);
  color: theme.theme-color('text-primary');
  overflow-x: auto;
  white-space: pre;
}
