@use 'abstracts/theme-variables' as theme;

.wrapper {
  display: inline-block;
  border-style: solid;
  border-color: theme.theme-color('divider');
  border-top-color: theme.theme-color('primary');
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.sm {
  width: var(--unit-4);
  height: var(--unit-4);
  border-width: 2px;
}
.md {
  width: var(--unit-6);
  height: var(--unit-6);
  border-width: 2px;
}
.lg {
  width: var(--unit-8);
  height: var(--unit-8);
  border-width: 3px;
}

.colorPrimary { border-top-color: theme.theme-color('primary'); }
.colorSecondary { border-top-color: theme.theme-color('secondary'); }
.colorSuccess { border-top-color: theme.theme-color('success'); }
.colorDanger { border-top-color: theme.theme-color('danger'); }

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
