@use 'abstracts/theme-variables' as theme;

.root {
  display: inline-flex;
  align-items: center;
  gap: var(--unit-3);
}

.avatar {
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  color: theme.theme-color('text-primary');
  margin: 0;
}

.description {
  font-size: 0.875rem;
  color: theme.theme-color('text-muted');
  margin: 0;
  margin-top: var(--unit-1);
}
